.footer-section{
    background-color: #2d3e52;
    color: white;
    padding: 20px 20px;
    margin-top: 30px ;
    margin-bottom: 0;
}
.footer-section .email{
    border: none;
    outline: none;
    border-radius: 20px;
    background-color: white;
    padding: 10px 10px;
    margin-bottom: 10px;
}

.footer-section .button{
    padding: 10px 15px;
    border: none;
    font-weight: 600;
    border-radius: 10px;
}